{% extends '_auth.html' %}
{% load static %}

{% block title %}
    Signup
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <img src="{% static 'accounts/images/password_reset.svg' %}" alt="Image" class="img-fluid">
            </div>
            <div class="col-md-6 contents">
                <div class="row justify-content-center align-items-center">
                    <div class="col-md-8">
                        <div class="mb-4">
                            <h3>بازنشانی رمز عبور</h3>
                        </div>
                        <form method="post">
                            {% csrf_token %}
                            <div class="form-group first">
                                <label for="id_email">ایمیل</label>
                                {{ form.email }}
                                {{ form.email.errors }}
                            </div>

                            <div class="d-flex mt-4 mb-5 align-items-center">
                                <span class="ml-auto"><a href="{% url 'account_login' %}"
                                                         class="">ورود حساب کاربری</a></span>
                            </div>
                            <input type="submit" value="بازنشانی" class="btn btn-block btn-primary">
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}