{% extends "_auth.html" %}
{% load static %}
{% load i18n %}
{% load account %}

{% block title %}{% trans "Password Reset" %}{% endblock %}


{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <img src="{% static 'accounts/images/password_reset.svg' %}" alt="Image" class="img-fluid">
            </div>
            <div class="col-md-6 contents">
                <div class="row justify-content-center align-items-center">
                    <div class="col-md-8">
                        <div class="mb-4">
                            <h3>بازنشانی رمز عبور</h3>
                        </div>
                        <p>
                            ما برای شما ایمیل بازنشانی را ارسال کردیم. اگر آن را دریافت نکرده اید لطفا پوشه هرزنامه خود
                            را بررسی کنید. در غیر این صورت
                            اگر ظرف چند دقیقه آن را دریافت نکردید، با ما تماس بگیرید.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
