{% extends '_auth.html' %}
{% load static %}

{% block title %}
    Reset password
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <img src="{% static 'accounts/images/password_reset.svg' %}" alt="Image" class="img-fluid">
            </div>
            <div class="col-md-6 contents">
                <div class="row justify-content-center align-items-center">
                    <div class="col-md-8">
                        <div class="mb-4">
                            <h3>بازنشانی رمز عبور</h3>
                        </div>
                        <form method="post">
                            {% csrf_token %}
                            <div class="form-group first">
                                <label for="id_password1">رمز عبور جدید</label>
                                {{ form.password1 }}
                            </div>
                            <div class="form-group last mb-3">
                                <label for="id_password2">رمز عبور جدید (تکرار)</label>
                                {{ form.password2 }}
                            </div>

                            {% include 'partial/pages/errors.html' %}

                            <input type="submit" value="ثبت" class="btn btn-block btn-primary">
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}